<body>
    <div class="card">
        <h2>Hi, {{name}}!</h2>
        <p>You have successfully registered in our site</p>
        <br/><br/>
        <p>If you think this is a mistake, ignore this email.</p>
    </div>
</body>